<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/header') %>
<title>404 Not Found</title>
</head>
<body>
    <%- include ('./partials/navigation') %>
    
   

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="display-1">404 Not Found</h1>
         <p>
            <img src="https://services.meteored.com/img/article/-por-que-ruedan-las-plantas-rodadoras--7712-1_1024.jpg" class="img-fluid" alt="Responsive image" >
            </p>
            <p><a href="/" class="btn btn-outline-primary">Back to Home</a></p>
        </div>
      </section>





</body>
</html>