<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/header') %>
<title>About</title>
</head>
<body>
    <%- include ('./partials/navigation') %>
    
   

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="display-1">About</h1>
          <p>Dev with ❤️ by <a href="https://github.com/ebreyaue">Emmanuel.D Breyaue</a>
          learning and following the tutorial of <a href="https://github.com/FaztTech/books-express/blob/2019-version">FaztTech</a></p>

         <p>
            <img src="https://avatars.githubusercontent.com/u/110700240?v=4" class="rounded mx-auto d-block">
            </p>
            <p><a href="/" class="btn btn-outline-primary">Back to Home</a></p>
        </div>
      </section>